extends layout

block content
  h1  Introduction
  section.css-table
    section.one-column
      section.cell
        h2 Summary
          pEvery single student in the class had missed out on databases, making it a topic that was run as a lecture with small projects limited by the amount of time left in the semester. The goal of this was to not become database professionals in 3 weeks time, but to have a broad understanding of the concepts and a guideline to further research as engineers into something we should really know about. 
          p The key points discussed included
            ul
              li Definition of a function partial and injective Definition of entities and attributes
              li Commuting and non-commuting diagrams
              li ERA modelling 
              li Keys Tables
              li Queries
              li DBMS
      section.cell
        h2 Details
          p The way the class ran, it was basically an everything you need to know about databases in 3 weeks course. Initially learning about the simplest concepts such as ER diagrams and their function in database creation, we were each told to select something that could be represented in a database. Some examples included a file-sharing system, sports club, landlord database and I selected to do a library database. 
          p It only had to be a simple database with around 5 entities, clearly defining their relationship to one another using ER diagram, this was largely ad-hoc and in class, the final representation of the ER diagram sadly disappeared as the whiteboard marker removed the last remnants of dry-erase marker. This ER diagram could be recreated from the following Tables and DBMS implementation that are about to be discussed.
          p img(src= "http://i.imgur.com/X0Eh5tN.png")
          p The table describes the relationship between the separate entities and the attributes that each has, these tables contain enough info for anybody to build a database from. This is exactly what we did, we were told to select a DBMS of our liking and implement our selected database, including implementing some specific queries for our database.   
          p img(src= 'http://i.imgur.com/eKgh2xT.png')
          p img(src= 'http://i.imgur.com/F1k6AVc.png')
          p img(src= 'http://i.imgur.com/kqnMGUf.png')
          p The succession of screenshots shows an implementation of databases that covers all the aspects discussed in class.
      section.cell
        h2 Reflection
          p Databases are a specific tool that a large amount of software projects will entail. Knowing how they function and knowing how to create them are crucial for a large majority of software engineers, therefore, it seems fitting that we should have at least the bare required knowledge of databases before me move on in the working world. It may not be entirely encompassing or sufficient knowledge of databases especially in a professional environment, but what we have learnt is enough to filter out the unnecessary information and its enough to guide us on the next step should we ever need to make it. 
      