extends layout

block content
  h1  Introduction
  section.css-table
    section.one-column
      section.cell
        h2 Summary
        p This project was selected by Mike to fill a gap he believed that I had missed and was important to my degree. The project was to select any of the numerous disasters that had occurred solely through software misbehaving. After selecting a disaster, study the leading causes of the disaster and come up with a disaster pattern.  The project included a report and formal presentation of our findings. The major goal of this project was to identify the underlying issue rather than a specific issue, that could be identified by myself in a project before a similar disaster occurred. The secondary goal was to come to a realisation of the power and responsibility some software engineers have, in contrast to  the previous definition of the Intangible, malleable, and continuous development most software engineers deal with daily. 
      section.cell
        h2 Details
          p The entire project can be found online at any time
            ul
              li a(href='https://drive.google.com/file/d/0B0_LkaQ1kxEDVGZXcFNtenYxVVU/edit?usp=sharing') Report
              li a(href='https://drive.google.com/file/d/0B0_LkaQ1kxEDbDhzelZhenFMU1U/edit?usp=sharing') Presentation
          p If at any time this does not work please contact lukewjudd@gmail.com for a copy of this assignment
      section.cell
        h2 Reflection
          p A large portion of the project was reflection on why we should study disasters and what use they are to us. In summation, the project helped me come to a realisation that even though software engineers generally t work on projects that could lead to a loss of life, these things are entirely possible. By studying the underlying issues seen within software disasters you can pave a plan for recognition and action should they ever arise in projects you find yourself assigned to. It also comes as a timely reminder of the social responsibility and power you have as a software engineer. 