extends layout

block content
  h1  Unit Portfolio Introduction
  section.css-table
    section.one-column
      section.cell
        p The goal of this portfolio is not just to act as a dumping place for all of the activities undertaken in ELEC436, but rather, a place where I can reflect on how doing these activities has been useful for myself as a software engineer, and how they relate directly to ACS-EA joint s software engineering competencies.
        p After four years at Macquarie studying software engineering, there was still a few topics that seemed crucial for a software engineer to know. Not only are they useful to know, they are defined directly in the software engineering competencies. Hopefully this portfolio shows that this knowledge gap has been filled with useful information.
        p ve grouped the sections of the portfolio in regards to the outcome they attempt to address, rather than give a week-by-week recount of events.  Hopefully this adds clarity to what m trying to achieve with this portfolio and truly encompasses what I achieved in this unit. 
      
