extends layout

block content
  h1  Introduction
  section.css-table
    section.one-column
      section.cell
        h2 Summary
        p The first couple of weeks were spent doing 2 things. The first, negotiating how the unit will run, what the unit is about, and why covering exactly why we are doing this unit and what we can expect from it.  This is a pretty standard start to an ordinary unit, but since ELEC436 is anything but an ordinary unit, there were some finer points that needed to be made clear early on in the semester. 
        p A large portion of time was spent deliberating over the definition of a professional and the definition of a software engineer.  At some points this was purely semantics, others, carefully explained scenarios and real-world differences between software engineers and others. 
        p A large goal of this unit was to decisively select topics that, throughout your time at uni, you may have completely missed or felt you need to brush up on. Due to the way the degree is set out, at times selecting one option unit over another meant that you will have knowledge gap. The introductory weeks were spent analysing the ACS-EA joint boards software engineering competencies and selecting topics that you may have missed, these topics would be the focal point of your semester in ELEC436. 
      section.cell
        h2 Details
        p A professional was defined as somebody who exhibits the following traits
          ul
            li Continues professional development 
            li Has a body of knowledge
            li Works autonomously 
            li Has a set of standards
            li Has a set code of ethics/morality
            li Has technical Skills
            li Has social responsibility and power
            li A software engineer was defined as either having 
            li Creativity skills
            li Project management skills
            li Planning skills 
            li Risk management skills
            li Resource management skills
            li A set methodology
            li Problem solving capability
        p The work software engineers produce differs from other types of engineering because the output is/has
          ul
            li Intangible
            li Deterministic
            li Able to be updated
            li Malleable
            li Continually developing
            li Infinite distance capability
            li Large global business advantages
            li Different Manufacturing procedures
            li Different maintenance procedures
        p There was a little discussion on the usefulness of professional groups such as IEEE, ACS, APESMA, ACM, EA and the benefits these groups provide. 