!!! 5
html
  head
    title= 'ELEC436 Unit Portfolio'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/introduction") Introduction
          li 
            a(href="/disaster") Software Disaster
          li
            a(href="/webapp") Web App
          li
            a(href="/databases") Databases
          li
            a(href="/os") Operating Systems
          li
            a(href="/news") News

    
    section#wrapper
      block content
      