!!! 5
html
  head
    title= 'ELEC436 Unit Portfolio'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") Week 1
          li 
            a(href="/contact") Week 2
          li
            a(href="/week_3") Week 3
          li
            a(href="/week_4") Week 4    
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
