extends layout

block content
  h1  Introduction
  section.css-table
    section.one-column
      section.cell
        h2 Summary
          p After looking at the software engineering competencies and the overarching goal of ELEC436, I selected the startup engineering course run by Stanford uni . The details of the course can be found at:
(a href='https://www.coursera.org/course/startup') Startup
          p The definition of the course itself was - Learn the engineering skills needed to build a technology startup from the ground up. 
          p There were a few key reasons I selected this as something I should know and be spending time on while at university. The key topics and reasons for this choice were
            ul
              li Web Development
              li Linux environment development
              li Frontend/Backend development
              li Production environment
              li Development scaling
              li Business scaling
              li Latest technology implementation
              li Project/resource management skills
          p The goals and competencies required for this course were greatly applicable to ACS-s software engineering competencies. On a personal level, I do not feel like my ENGG411 thesis was a project I could be proud of, so completing a project like this covered many large project skills I feel I missed out on. It also encompasses something I am passionate about and uses the latest technologies available in web development, which seems like a fitting project considering it is intended as a transition from a university type class into a professional workplace environment.
      section.cell
        h2 Details
          p The project can be found (a href='http://elecprogress.herokuapp.com') Here
      section.cell
        h2 Reflection
          p This project made me feel a lot more confident in a lot of areas regarding my capability as a software engineer, I feel like it truly plugged a hole in what I felt was missing from my degree and areas of knowledge I really should know as a software engineer. From the production environment to version control to the latest technological tools, it seemed like a fitting project to cap off my time at university. One of the largest problems I found in my degree was that the engineering projects we did that focused on management, were broad engineering projects and not specifically tailored for software engineers. There is a huge difference between how an electronic engineer and a software engineer deploy their projects. There are many other large differences in how projects are undertaken as a software engineer and this project gave me a chance to implement real-world and current techniques. 
          p It was agreed upon that COMP247 should be an engineering designated unit, however it is not currently assigned as such. I felt that this was also a hole in the degree and is yet another reason I took this project on. 
